<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>User_Name:</strong>
  <%= @question.user.name %>
</p>

<p>
  <strong>Content</strong><br>
  <%= @question.content %>
</p>

<p>
  <strong>Address:</strong>
  <%= @question.address %>
</p>
<% if user_signed_in? && current_user.id == @question.user_id %>
<%= link_to '編集', edit_question_path(@question) %> |
<% end %>
<%= link_to '質問一覧へ', questions_path %>

<div>
<h3>回答一覧</h3>
  <% @question.answers.each do |answer| %>
  <div>
  	<%= answer.user.name %><span>さんの回答</span><br>
    <%= answer.spot_detail %><br>
    <%= link_to '詳細' ,answer_path(answer.id)%>
  </div>
  <br>
  <% end %>
</div>

<div>
  <%= form_tag(new_answer_path, method: :get) do %>
  <%= hidden_field_tag(:question_id, @question.id) %>
  <%= submit_tag("回答する") %>
  <% end %>
</div>
