<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>User_Id:</strong>
  <%= @question.user_id %>
</p>

<p>
  <strong>Content</strong>
  <%= @question.content %>
</p>

<p>
  <strong>Address:</strong>
  <%= @question.address %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>

<div>
  <%= form_tag(new_answer_path, method: :get) do %>
  <%= hidden_field_tag(:question_id, @question.id) %>
  <%= submit_tag("回答する") %>
  <% end %>
</div>


<div>
  <% @question.answers.each do |answer| %>
  <div>
    <%= answer.spot_detail %>
  </div>
  <% end %>
</div>
