<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>User_Name:</strong>
  <%= @question.user.name %>
</p>

<p>
  <strong>Content</strong><br>
  <%= @question.content %>
</p>

<p>
  <strong>Address:</strong>
  <%= @question.address %>
</p>
<% if current_user.id == @question.user_id %>
  <%= link_to 'Edit', edit_question_path(@question) %> |
<% end %>
<%= link_to 'Back', questions_path %>

<div>
  <% @question.answers.each do |answer| %>
  <div>
  	<%= answer.user.name %><br>
		<%= answer.spot_detail %>
  </div>
  <% end %>
</div>

<div>
  <%= form_tag(new_answer_path, method: :get) do %>
  <%= hidden_field_tag(:question_id, @question.id) %>
  <%= submit_tag("回答する") %>
  <% end %>
</div>
