<p id="notice"><%= notice %></p>

<h1>Spots</h1>

<table>
  <thead>
    <tr>
      <th>Spot name</th>
      <th>Address</th>
      <th>Point</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spots.each do |spot| %>
      <tr>
        <td><%= spot.name %></td>
        <td><%= spot.address %></td>
        <td><%= spot.point %></td>
        <td><%= link_to 'Show', spot %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spot', new_spot_path %>
