<p id="notice"><%= notice %></p>

<p>
  <strong>Spot name:</strong>
  <%= @spot.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @spot.address %>
</p>

<p>
  <strong>Point:</strong>
  <%= @spot.point %>
</p>

<%= link_to 'Back', spots_path %>
