<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @answer.user_id %>
</p>

<p>
  <strong>Question:</strong>
  <%= @answer.question_id %>
</p>

<p>
  <strong>Spot detail:</strong>
  <%= @answer.spot_detail %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@answer.image_url) if @answer.image.present? %>
</p>

<p>
  <strong>Address:</strong>
  <%= @answer.address %>
</p>

<p>
  <strong>Spot name:</strong>
  <%= @answer.spot.name %>
</p>

<p>
  <strong>Spot:</strong>
  <%= @answer.spot_id %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
<button id="map_button">map</button>

<div style='width: 800px; display:none;' class='modal'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">

  $('#map_button').click(function(){

    $('.modal').fadeIn();
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(16);
    });
  });
</script>
