<p id="notice"><%= notice %></p>

<p>
  <strong>UserName:</strong>
  <%= @answer.user.name %>
</p>

<p>
  <strong>Question:(debug)</strong>
  <%= @answer.question_id %>
</p>

<p>
  <strong>Spot detail:</strong>
  <%= @answer.spot_detail %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@answer.image_url) if @answer.image.present? %>
</p>

<p>
  <strong>Address:</strong>
  <%= @answer.address %>
</p>

<p>
  <strong>Spot name:</strong>
  <%= @answer.spot.name %>
</p>

<p>
  <strong>Spot:</strong>
  <%= @answer.spot_id %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) if current_user.id == @answer.user_id%> |
<%= link_to 'Back', answers_path %>

<button id="map-button">map</button>
<div style='display:none;' class='map-modal'>
  <div>
  <buttton class="close-modal" style="float:right">✖️</button>
  </div>
  <div id="map" style='width: 100%; height: 100%;'>
  </div>
</div>



<script type="text/javascript">

  $('#map-button').click(function(){
    $('.map-modal').fadeIn();
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(16);
    });
    $('.close-modal').click(function(){
      $('.map-modal').fadeOut();
    });
  });
</script>
